# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# 虚拟环境
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# 系统
.DS_Store
Thumbs.db

# 项目
bang_avatar/resources/*
!bang_avatar/resources/.gitkeep
